body {
    background-color: darkslategrey;
}

#calcBody {
    background-color: rgb(151, 150, 150);
    height: 500px;
    width: 350px;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    margin: 50px;
}

#screen {
    background-color: black;
    height: 125px;
    margin: 25px 15px;
}

#screen p {
    color: white;
    font-family: 'Orbitron', sans-serif;
    float: right;
    margin-right: 25px;
}

#buttonDiv {
    margin: 10 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.button {
    background-color: slategray;
    border-radius: 15px;
    margin: 5px;
    padding: 5px;
    text-align: center;
    height: 40px;
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: sans-serif;
    font-weight: bold;
}

#plus {
    height: 100px
}

#clear {
    background-color: rgb(110, 36, 36);
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }